body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: lightslategray;
}

header {
    padding: 10px 0;
    position: fixed; 
    top: 0;
    right: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;

}

header nav ul li a {
    color: turquoise;
    text-decoration: none;
    text-transform: uppercase;
}

.section {
    padding: 60px 20px;
}

.section-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#contact a {
    color: #0e76a8; /* LinkedIn's brand color */
    text-decoration: none;
    display: inline;
    margin: 10px 0;
}

#contact a:hover {
    color: #0a5a7f; /* Darker shade for hover effect */
}