body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: lightslategray;
}

header {
    padding: 10px 0;
    position: fixed; 
    top: 0;
    right: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;

}

header nav ul li a {
    color: turquoise;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 100px;
}

.section {
    padding: 60px 20px;
}

.section-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#contact a {
    text-decoration: none;
    display: inline;
    margin: 10px 0;
}

#contact a.linkedin {
    color: #0e76a8; /* LinkedIn's brand color */
}

#contact a.linkedin:hover {
    color: #0a5a7f; /* Darker shade for hover effect on LinkedIn*/
}

#contact a.email {
    color: coral; /* Email */
}

#contact a.email:hover {
    color: #FF7F50; /* Darker shade for hover effect on email*/
}

#contact i {
    width: 50px;
    height: 50px;
}

.project-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.capstone-logo {
    width: 75px;
    height: auto;
    margin-right: 20px;
}

.project-links {
    display: flex;
    flex-direction: column;
}

.project-links a {
    padding: 5px 10px;
    margin: 5px 0;
    text-decoration: none;
}