body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: lightslategray;
}

header {
    padding: 10px 0;
    position: fixed; 
    top: 0;
    right: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;

}

header nav ul li a {
    color: turquoise;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: x-large;
}

.section {
    padding: 60px 20px;
}

.section-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#contact a {
    text-decoration: none;
    display: inline;
    margin: 10px 0;
}

#contact a.linkedin {
    color: #0e76a8; /* LinkedIn's brand color */
}

#contact a.linkedin:hover {
    color: #0a5a7f; /* Darker shade for hover effect on LinkedIn*/
}

#contact a.email {
    color: coral; /* Email */
}

#contact a.email:hover {
    color: #FF7F50; /* Darker shade for hover effect on email*/
}

.project-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.capstone-logo {
    display: block;
    width: 200px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
    opacity: 1;
}

.overlay-button {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.overlay-button:hover {
    background: #ddd;
}